# Adjust IP address and pool offset/size as required to fit your network

[Match]
Name=br0

[Network]
Address=192.168.200.1/24
IPMasquerade=ipv4
DHCPServer=yes

[DHCPServer]
PoolOffset=15
PoolSize=5
EmitDNS=no
DNS=192.168.200.1

