# This file could likely use some cleanup, some of these paths refer to modules that we're not using anymore
# but it works right now so dont want to screw with it

[Unit]
Description=Mesh Network and Monitor
After=network.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=HOME=/home/natak
Environment=USER=natak
#Environment=PYTHONPATH=/home/natak/meshtastic
WorkingDirectory=/home/natak
ExecStartPre=sleep 5
ExecStart=/home/natak/mesh/startup_sequence.sh


[Install]
WantedBy=multi-user.target
